{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrderParserPlugins": ["typescript", "decorators-legacy"],
    "importOrder": [
        "^@core/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
