:host {
    /* todo put here custom variable */
    display: flex;
    flex: 1;
    flex-direction: column;
}

ha-card {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 10px 10px 0;
}
.footer {
    color: var(--primary-text-color);
    text-align: end;
    font-size: xx-small;
}
.error {
    color: red;
}

.card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid green;
    padding: 0;
}

.card-top img {
    border: 1px solid red;
    width: 75px;
    height: 75px;
}

.card-top .properties {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    padding: 0 10px;
}

.card-top .properties .vacuum-name {
    border: 1px solid yellow;
}
.card-top .properties .vacuum-state {
    border: 1px solid yellow;
}

.card-top .battery {
    border: 1px solid purple;
}

.card-top .battery ha-icon {
    border: 1px solid purple;
}
.card-top .battery .icon-title {
    border: 1px solid purple;
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
    font-size: small;
}
