:host {
    /* todo put here custom variable */
    display: flex;
    flex: 1;
    flex-direction: column;
}

ha-card {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 10px 10px 0;
}
.footer {
    color: var(--primary-text-color);
    text-align: end;
    font-size: xx-small;
}
.error {
    color: red;
}

.card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid green;
    padding: 0;
}

.card-top img {
    width: 75px;
    height: 75px;
}

.card-top .properties {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: -webkit-fill-available;
}

.card-top .properties .vacuum-name {
    font-size: xx-large;
    line-height: normal;
}

.card-top .battery {
    display: flex;
    flex-flow: row;
    align-self: self-start;
    margin-top: 7px;
}

.card-top .battery .icon-title {
    padding: 0 3px;
    font-size: small;
    align-self: center;
}

.card-content {
    margin: 0;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
}
.card-content div ha-icon {
    self-align: center;
    width: var(--mdc-icon-size, 75px);
    height: var(--mdc-icon-size, 75px);
}
