:host {
    /* todo put here custom variable */
    display: flex;
    flex: 1;
    flex-direction: column;
}

ha-card {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 10px 10px 0;
}
.footer {
    color: var(--primary-text-color);
    text-align: end;
    font-size: xx-small;
}
.error {
    color: red;
}

.card-header {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
}

.card-header img {
    border: 1px solid red;
    width: 75px;
    height: 75px;
}

.card-header .properties {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

.card-header .properties. vacuum-name {
    border: 1px solid yellow;
}
.card-header .propertiess .vacuum-state {
    border: 1px solid yellow;
}

.card-header .battery {
    border: 1px solid purple;
}

.card-header .battery ha-icon {
    border: 1px solid purple;
}
.card-header .battery.icon-title {
    border: 1px solid purple;
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
}
